.menus {
    margin-bottom: 8px;
    .menuActive {
        background-color: rgb(122, 122, 122);
        padding: 12px 20px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        display: flex;
        align-items: center;

        ion-icon {
            margin-right: 12px;
        }

        a {
            font-weight: 500;
            color: white;
        }

        &:hover {
            cursor: pointer;
        }
    }
    .menu {
        padding: 12px 20px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        display: flex;
        align-items: center;
        opacity: 0.6;

        ion-icon {
            margin-right: 12px;
        }

        a {
            font-weight: 400;
            color: white;
        }

        &:hover {
            background-color: rgb(66, 66, 66);
            cursor: pointer;
            opacity: 1;
        }
    }
}