.container {
    width: 200px;
    height: auto;
    padding: 10px 18px;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #FEFFFF;
    box-shadow: 0 4px 4px #c3c4c5;
    border-radius: 10px;
    z-index: 99;

    .icon {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &:hover {
            background-color: #d4d4d434 !important;
            cursor: pointer;
        }
    }
}