.main {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 430px;
  width: 100%;
  margin-top: 1rem;
  padding: 0 12px;
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card {
  padding: 1.2rem;
  border-radius: 4px;
  background-color: #252525;
  box-shadow: 2px 2px 5px #161616;
}

.btnGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  border-radius: 2px;
  gap: 12px;
  padding: 12px;
  background-color: transparent;
  color: #c7c7c7;
  border: 1px solid #717171;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: #3d3d3d;
  }

  img {
    width: 24px;
  }
}

.form {
  label,
  input,
  button {
    display: block;
    width: 100%;
    border: none;
  }

  label {
    color: #c7c7c7;
    margin-bottom: 4px;
  }

  input {
    padding: 12px;
    background-color: transparent;
    border: 1px solid #717171;
    border-radius: 2px;
    color: #c7c7c7;
  }
}

.or {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c7c7c7;

  p {
    background-color: #252525;
    z-index: 1;
    padding: 0 12px;
    margin: 20px 0;
  }

  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #717171;
    height: 50%;
  }
}

.btnPrimary {
  background-color: #e05c1a;
  border-radius: 2px;
  margin-top: 2rem;
  padding: 10px 0;
  color: #fff;
}

.btnPrimary:hover {
  background-color: #d44c08;
}

.bottomText {
  color: #c7c7c7;
  text-align: center;
  margin-top: 1rem;

  a {
    text-decoration: underline;
    margin-left: 8px;

    &:hover {
      color: #e05c1a;
    }
  }
}

.errorMessage {
  margin-top: 12px;
  font-size: 0.9rem;
  color: #ff5656;
}

@media screen and (min-width: 650px) {
  .card {
    padding: 2rem;
  }
}
