@import "../../styles/variables.module.scss";

.main {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 430px;
  width: 100%;
  margin-top: 2.5rem;
  padding: 0 20px;
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    margin-left: 8px;
    font-size: 1.2rem;
    color: var(--black);
    font-weight: bold;
  }
}

.card {
  padding: 1.2rem;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid var(--grayLighter);
  box-shadow: 2px 2px 5px var(--light);
}

.btnGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  border-radius: 2px;
  gap: 12px;
  padding: 12px;
  background-color: transparent;
  color: var(--gray);
  border: 1px solid var(--grayLighter);
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: var(--light);
  }

  img {
    width: 24px;
  }
}

.form {
  label,
  input,
  button {
    display: block;
    width: 100%;
    border: none;
  }

  label {
    color: var(--gray);
    margin-bottom: 4px;
  }

  input {
    padding: 12px;
    background-color: transparent;
    border: 1px solid var(--grayLighter);
    border-radius: 2px;
    color: var(--gray);
  }
}

.or {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);

  p {
    background-color: #fff;
    z-index: 1;
    padding: 0 12px;
    margin: 20px 0;
  }

  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--grayLighter);
    height: 50%;
  }
}

.btnPrimary {
  background-color: var(--primary);
  border-radius: 2px;
  margin-top: 2rem;
  padding: 10px 0;
  color: #fff;
}

.btnPrimary:hover {
  background-color: var(--primaryDark);
}

.bottomText {
  color: var(--gray);
  text-align: center;
  margin-top: 1rem;

  a {
    text-decoration: underline;
    margin-left: 8px;
    color: var(--black);

    &:hover {
      color: var(--primaryDark);
    }
  }
}

.errorMessage {
  margin-top: 12px;
  font-size: 0.9rem;
  color: #ff5656;
}

@media screen and (min-width: 650px) {
  .card {
    padding: 2rem;
  }
}
