.btnNormal {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: 8px;
    background-color: #d9d9d931;
    color: white;
    font-weight: 500;
    border: none;
    opacity: 1;

    &:hover {
        background-color: #d9d9d95d;
        opacity: 0.8;
    }
}
.btnNormalFull {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    border-radius: 8px;
    background-color: #d9d9d931;
    color: white;
    font-weight: 500;
    border: none;
    width: 100%;
    opacity: 1;

    &:hover {
        background-color: #f5f0f05d;
        opacity: 0.8;
    }
}
.btnLarge {
    display: flex;
    align-items: center;
    padding: 0.95rem;
    border-radius: 8px;
    background-color: #d9d9d931;
    color: white;
    font-weight: 500;
    border: none;
    opacity: 1;

    &:hover {
        background-color: #d9d9d95d;
        opacity: 0.8;
    }
}