@import '../../../styles/variables.module.scss';

.button-icon-only {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;

  span {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    font-size: 1.3em;
    user-select: none;
    pointer-events: none;

    svg {
      user-select: none;
      pointer-events: none;
    }
  }
}

.button__circle {
  border-radius: 50% !important;
}