@mixin respond ($breakpoint) {
    @if $breakpoint==tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }
}

.childrenContainer {
    margin-left: 350px;
    margin-right: 2.5rem;
    @include respond(tablet) {
        margin-left: 220px;
    }
    @include respond(mobile) {
        margin-left: 1em;
        margin-right: 1rem;
    }
}