@import "../../../styles/mixin.module.scss";

.section-page {
  padding-bottom: 5rem;

  @include respond($breakpoint: 768px) {
    padding: 0;
  }
}

.logo {
  display: none;

  @include respond($breakpoint: 768px) {
    display: flex;
    align-items: flex-end;
    gap: .5rem;

  }

  > :last-child {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
}