.habit-detail {
  h3 {
    font-size: 1rem;
  }

  > div {
    padding: .75rem 1rem;
    border: 1px solid #C3C4C5;
    margin-bottom: 2rem;

    p {
      margin: 0;
    }
  }
}
.wrapper {
  margin-top: 2rem;

  p {
    margin: 0;
  }
}

.data {
  font-weight: bold;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  gap: 8px;
}

.dataWide {
	padding-bottom: 4rem;
}
