.modal-custom {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 9999;
  top: 0;
  left: 0;
  padding-bottom: 4rem;
  background-color: #FEFFFF;
  overflow-y: scroll;
  overflow-x: hidden;

  &__inner {
    width: 90vw;
    margin: 0 auto;
    margin-top: 6rem;
    max-width: 700px;
  }

  .close-modal {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}


