@mixin respond ($breakpoint) {
    @if $breakpoint==tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }
}

.main {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #111317;
  overflow-y: scroll;
  overflow-x: hidden;

  .content {
    min-height: 100vh;
    margin-top: 4.5rem;
    padding-top: .75rem;

    &__inner {
      width: 90vw;
      max-width: 800px;
      margin: 0 auto;
    }
  }

  > button[aria-label='close modal'] {
    position: absolute;
    top: 1rem;
    left: calc(5vw - .35rem);
  }
}