@mixin respond ($breakpoint) {
    @if $breakpoint==tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }
}

.main {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #191919;
    overflow-y: scroll;
    overflow-x: hidden;

    .content {
        background-color: black;
        min-height: 100vh;
        @include respond(mobile) {
            padding-top: 80px !important;
        }
    }

    .closeIcon {
        position: fixed;
        top: 40px;
        left: 100px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-color: #ffffff06;
        border-radius: 50%;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;

        @include respond(mobile) {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        &:hover {
            background-color: #ffffff27;
        }
    }
}