@import '/styles/variables.module.scss';
@import '/styles/mixin.module';

.navbar-bottom {
  // @include respond($breakpoint: 576px) {
  //   display: none;
  // }

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 65px;
  background-color: #FEFFFF;
  color: #272828;
  box-shadow: 2px 0 10px #C3C4C5;
  padding: .85rem 0 .65rem 0;

  &__inner {
    width: 90vw;
    margin: 0 auto;
  }

  .navigation {
    color: white;

    &-links {
      display: flex !important;
      align-items: center;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;
    
      li {
        width: calc(80%/4);
      }
      a {
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .25rem;
        font-size: 10px;
        text-transform: uppercase;
        
        svg {
          font-size: 1.4rem;
        }
      }
    }
  }
  
}
