.header {
  margin: 5rem 0 1rem 0;
  text-align: center;

  h2 {
    color: #949494;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    margin-top: 4rem;
  }

  .title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .body {
    color: #949494;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.cardList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0rem 4rem;
  margin-bottom: 5rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  border-bottom: 1px solid transparent;
  transition: all 0.1s ease-in-out;
  padding-bottom: 2px;

  &:hover {
    border-bottom: 1px solid #949494;
    color: #fff;
    cursor: pointer;
  }

  p {
    margin: 0;
  }

  img {
    width: 20px;
    height: 20px;
    margin: 0;
  }
}

.articles {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  max-width: 700px;

  h1 {
    font-weight: bold;
    line-height: 2.8rem;
    margin-bottom: 3rem;
  }

  .body {
    margin-top: 3rem;
  }

  p {
    line-height: 1.6rem;
  }

  img,
  iframe {
    width: 100%;
    border-radius: 4px;
  }

  & > img {
    margin: 3rem 0;
  }

  .date {
    color: #949494;

    span {
      padding: 0 8px;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .cardList {
    grid-template-columns: repeat(3, 1fr);
  }
}
