@mixin respond ($breakpoint) {
    @if $breakpoint==tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }
}

.sidebar {
    width: 320px;
    height: 100vh;
    padding: 3rem 0 3rem 3rem;
    background-color: #111317;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include respond(tablet) {
        width: 200px;
        padding: 3rem 0 1rem 1rem;
    }
    @include respond(mobile) {
        width: 0 !important;
        padding: 1rem;
        display: none;
    }

    .logoContainer {
        margin-bottom: 2rem;
    }

    .menusContainer {
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}