.habbit-form {
  input[placeholder='Habbit name'] {
    background-color: transparent;
    color: #feffff;
    border: none;
    padding: .5rem 0;
    width: 100%;
    font-weight: bold;
    font-size: 1.4rem;


    &:focus {
      outline: none !important;
      border: none;
      box-shadow: unset;
    }
  }
}

.habbit-type {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #6c757d;
}