@import "../../../styles/mixin.module.scss";

.habbit-form {
  input[placeholder='Habbit name'] {
    background-color: transparent;
    color: #272828;
    border: none;
    padding: .5rem 0;
    width: 100%;
    font-weight: bold;
    font-size: 1.4rem;


    &:focus {
      outline: none !important;
      border: none;
      box-shadow: unset;
    }
  }
}

.dateAndTime {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.5rem;
  margin-bottom: 2.75rem;

  @include respond($breakpoint: 768px) {
    flex-direction: row;
  }
}