.inputHabbit {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: xx-large;
    width: 100%;
}
.inputHabbitFocus {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: xx-large;
    width: 200px;
}