@import "../../styles/mixin.module.scss";

.navbar-top__information {
  display: flex;
  align-items: center;
  gap: 1rem;

  .date-active {
    font-weight: 500;
  }
}

.user-logged-shown {
  display: block !important;

  img {
    border-radius: 50%;
  }
}

.history-info {
  display: none;

  @include respond($breakpoint: 768px) {
    display: block;
    position: fixed;
    top: 71px;
    left: 65px;
    z-index: 5;
    width: 100%;
    background-color: #FEFFFF;
    width: calc(100% - 65px);
    overflow: hidden;
  }

  @include respond($breakpoint: 1024px) {
    width: 350px;
    height: 100vh;
    left: unset;
    right: 0;
    border-left: 1px solid #C3C4C5;
  }

  &__inner {
    width: 90%;
    margin: 0 auto;
  }

  .card-rate {
    display: none;

    @include respond($breakpoint: 1024px) {
      display: block;
      margin-top: 2.5rem;
    }

    .row {
      gap: 1rem;
    }
  }
}

.main-content {
  margin-top: calc(71px + 1.75rem);

  @include respond($breakpoint: 768px) {
    margin-left: 65px;
  }

  @include respond($breakpoint: 1024px) {
    margin-right: 350px;
    margin-top: calc(71px + 2.5rem);
  }

  &__inner {
    width: 90vw;
    margin: 0 auto;

    @include respond($breakpoint: 768px) {
      width: 90%;
    }
  }

  .content {
    h2 {
      font-size: inherit;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .habbit-list {
      min-height: 60vh;
      padding-bottom: 1rem;
      margin-bottom: 1rem;

      @include respond($breakpoint: 1024px) {
        min-height: 70vh;
      }
    }
  }
}