@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --primary: #5899e8;
  --primaryDark: #4c8ddc;
  --black: #3c4043;
  --gray: #5f6368;
  --grayLight: #919199;
  --grayLighter: #c3c4c5;
  --light: #dadde0;
  --lighter: #ecedee;
}

html,
body {
  background-color: #feffff;
  color: #272828;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Inter";
}

ion-icon {
  font-size: 24px;
}
.card-rate__responsive-top {
  display: block;
}
.card-rate__responsive-bottom {
  display: none;
}

.landing {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.hamburgerBtn,
.hamburgerCloseBtn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  color: var(--primary);
  cursor: pointer;
}

.hamburgerBtn > svg,
.hamburgerCloseBtn > svg {
  user-select: none;
  pointer-events: none;
}

.hamburgerCloseBtn {
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  left: 1rem;
}

.landing__header {
  border-bottom: 1px solid var(--grayLighter);
}

.landing__header__nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--light);
}

.open-drawer {
  display: block;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  width: 90vw;
  margin: 0 auto;
  padding: 0;
  margin-top: 2.75rem;
  padding-bottom: 2rem;
}

.nav-links li {
  user-select: none;
  pointer-events: none;
}

.nav-links a {
  padding: 1rem 1.5rem;
  display: inline-block;
  user-select: auto;
  pointer-events: auto;
}

.nav-links .btn-login {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  width: fit-content;
  background-color: var(--primary);
}

.nav-links a:hover {
  color: #528dd6;
}

.nav-links .btn-login:hover {
  color: #fff;
  background-color: #528dd6;
}

.landing__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 70px 0;
}

.landing__hero > * {
  max-width: 800px;
  font-size: 1.2rem;
}

.landing__hero__title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  color: var(--black);
}

.landing__hero__subtitle {
  color: var(--gray);
}

.landing__hero__cta {
  background-color: var(--primary);
  padding: 8px 20px;
  border-radius: 4px;
}

.landing__hero__cta:hover {
  color: #fff;
  background-color: var(--primaryDark);
}

.landing__image {
  display: flex;
  justify-content: center;
  background: linear-gradient(138deg, var(--primary), #3ce7d0);
  border-radius: 4px;
  backdrop-filter: blur(1px);
}

.landing__image > div {
  max-width: 1000px;
  padding: 3rem 1.5rem;
}

.landing__image img {
  border-radius: 4px;
  width: 100%;
  box-shadow: #2c2c2c 2px 2px 10px;
}

.landing__feature {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__feature > * {
  max-width: 800px;
}

.landing__feature > .title {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: var(--black);
}

.landing__feature > .subtitle {
  color: var(--gray);
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 3rem;
}

.landing__feature .row {
  padding: 0 0.8rem;
}

.landing__feature__card {
  border: 1px solid var(--grayLighter);
  border-radius: 4px;
  padding: 0;
  padding: 16px;
}

.landing__feature__card > * {
  margin: 0;
}

.landing__feature__card .title {
  font-weight: bold;
  margin: 12px 0;
  color: var(--gray);
}

.landing__feature__card .body {
  color: var(--grayLight);
}

.landing__get-started {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
}

.landing__get-started > * {
  max-width: 700px;
  text-align: center;
  font-size: 1.2rem;
}

.landing__get-started .title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  color: var(--black);
}

.landing__get-started .subtitle {
  color: var(--gray);
  line-height: 1;
  padding: 1rem 0;
}

.landing__footer {
  border-top: 1px solid var(--grayLighter);
  padding: 1.6rem;
}

.landing__footer * {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

.landing__footer .brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

.landing__footer > p {
  color: var(--gray);
}

@media screen and (min-width: 500px) {
  .hamburgerBtn,
  .hamburgerCloseBtn {
    display: none;
  }

  .landing__header__nav {
    display: block;
    position: static;
    background-color: transparent;
    width: fit-content;
  }

  .nav-links {
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .nav-links li,
  .nav-links a {
    width: fit-content;
  }

  .nav-links a {
    padding: 0.75rem 1rem;
  }
}

@media screen and (min-width: 650px) {
  html,
  body {
    font-size: 16px;
  }

  .card-rate__responsive-top {
    display: none;
  }
  .card-rate__responsive-bottom {
    display: block;
  }
  .calendar-top {
    display: none;
  }
  .calendar-bottom {
    display: block;
  }
  .nav-links {
    gap: 1.75rem;
  }
}

@media screen and (min-width: 768px) {
  .card-rate__responsive-top {
    display: none;
  }
  .card-rate__responsive-bottom {
    display: block;
  }
  .landing__hero__title,
  .landing__get-started .title {
    font-size: 4.25rem;
  }
}
