html,
body {
  background-color: #191919 !important;
  color: #f8f9fa !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ion-icon {
  font-size: 24px;
}
