@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
html,
body {
  background-color: #191919 !important;
  color: #f8f9fa !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Inter";
}

ion-icon {
  font-size: 24px;
}
.card-rate__responsive-top {
  display: block;
}
.card-rate__responsive-bottom {
  display: none;
}
.calendar-top {
  display: block;
}
.calendar-bottom {
  display: none;
}
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: #d9d9d93b;
  border: none !important;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 1rem !important;
  border-radius: 12px;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  color: white;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #9f0000 !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: rgb(122, 122, 122) !important;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #75757568;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  color: rgb(255, 238, 0);
}
.react-calendar__tile--active:enabled {
  color: white !important;
  background-color: #e05c1a;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.Calendar {
  background-color: #3a3a3a !important;
  width: 100% !important;
}
.Calendar__day {
  color: white;
}
.Calendar__monthText,
.Calendar__yearText {
  color: white !important;
}

.landing {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.hamburgerBtn,
.hamburgerCloseBtn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}

.hamburgerBtn > svg,
.hamburgerCloseBtn > svg {
  user-select: none;
  pointer-events: none;
}

.hamburgerCloseBtn {
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  left: 1rem;
}

.landing__header {
  border-bottom: 2px solid #3f3f46;
}

.landing__header__nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #202124;
}

.open-drawer {
  display: block;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  width: 90vw;
  margin: 0 auto;
  padding: 0;
  margin-top: 2.75rem;
  padding-bottom: 2rem;
}

.nav-links li {
  user-select: none;
  pointer-events: none;
}

.nav-links a {
  padding: 1rem 1.5rem;
  display: inline-block;
  user-select: auto;
  pointer-events: auto;
}

.nav-links .btn-login {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  width: fit-content;
  background-color: #e05c1a;
}

.nav-links a:hover {
  color: #f58349;
}

.nav-links .btn-login:hover {
  color: #fff;
  background-color: #d44c08;
}

.landing__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 70px 0;
}

.landing__hero > * {
  max-width: 800px;
  font-size: 1.2rem;
}

.landing__hero__title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}

.landing__hero__subtitle {
  color: #919199;
}

.landing__hero__cta {
  background-color: #e05c1a;
  padding: 8px 20px;
  border-radius: 4px;
}

.landing__hero__cta:hover {
  color: #fff;
  background-color: #d44c08;
}

.landing__image {
  display: flex;
  justify-content: center;
  background: linear-gradient(138deg, #f58349, #f5a549);
  border-radius: 4px;
  backdrop-filter: blur(1px);
}

.landing__image > div {
  max-width: 1000px;
  padding: 3rem 1.5rem;
}

.landing__image img {
  border-radius: 4px;
  width: 100%;
  box-shadow: #2c2c2c 2px 2px 10px;
}

.landing__feature {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__feature > * {
  max-width: 800px;
}

.landing__feature > .title {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.landing__feature > .subtitle {
  color: #919199;
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 3rem;
}

.landing__feature .row {
  padding: 0 0.8rem;
}

.landing__feature__card {
  border: 2px solid #3f3f46;
  border-radius: 4px;
  padding: 0;
  padding: 16px;
}

.landing__feature__card > * {
  margin: 0;
}

.landing__feature__card .title {
  font-weight: bold;
  margin: 12px 0;
}

.landing__feature__card .body {
  color: #919199;
}

.landing__get-started {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
}

.landing__get-started > * {
  max-width: 700px;
  text-align: center;
  font-size: 1.2rem;
}

.landing__get-started .title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}

.landing__get-started .subtitle {
  color: #919199;
  line-height: 1;
  padding: 1rem 0;
}

.landing__footer {
  border-top: 2px solid #3f3f46;
  padding: 1.6rem;
}

.landing__footer * {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

.landing__footer .brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

.landing__footer > p {
  color: #919199;
}

@media screen and (min-width: 500px) {
  .hamburgerBtn,
  .hamburgerCloseBtn {
    display: none;
  }

  .landing__header__nav {
    display: block;
    position: static;
    background-color: transparent;
    width: fit-content;
  }

  .nav-links {
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .nav-links li,
  .nav-links a {
    width: fit-content;
  }

  .nav-links a {
    padding: 0.75rem 1rem;
  }
}

@media screen and (min-width: 650px) {
  .card-rate__responsive-top {
    display: none;
  }
  .card-rate__responsive-bottom {
    display: block;
  }
  .calendar-top {
    display: none;
  }
  .calendar-bottom {
    display: block;
  }
  .nav-links {
    gap: 1.75rem;
  }
}

@media screen and (min-width: 768px) {
  .card-rate__responsive-top {
    display: none;
  }
  .card-rate__responsive-bottom {
    display: block;
  }
  .landing__hero__title,
  .landing__get-started .title {
    font-size: 4.25rem;
  }
}
