$base-color: #1a191f;
$primary-color: #2f7fe2;
$primary-color-shadow: linear-gradient(45deg, rgb(1, 116, 187) 10%, rgb(184, 16, 13) 50%);
$dark-color: #000000;
$light-color: rgb(231, 231, 231);
$secondary-color: rgba(0,153,247,1);
$teritary-color: rgba(241,23,18,1);