$primary: #5899e8;
$primaryDark: #4c8ddc;
$black: #3c4043;
$gray: #5f6368;
$grayLight: #919199;
$grayLighter: #c3c4c5;
$light: #dadde0;
$lighter: #f1f1f1;

$primary-color: linear-gradient(45deg, rgba(0,153,247,1) 10%, rgba(241,23,18,1) 50%);
$primary-color-shadow: linear-gradient(45deg, rgb(1, 116, 187) 10%, rgb(184, 16, 13) 50%);
$dark-color: #000000;
$light-color: rgb(231, 231, 231);
$secondary-color: rgba(0,153,247,1);
$teritary-color: rgba(241,23,18,1);

$base-color: #FEFFFF;